{% extends "blog/base.html" %}

{% block content %}
	<div class="jumbotron">
		<h3 class="display-6">Automated Assignment.</h3	>
		<p class="lead"></p>

		<hr class="my-4">
	  <p>Teachers usually give a set of 5 questions as assignment to whole class</p>
		<hr class="my-4">
	  <p>These 5 question's solutions are shared among all the students, thus they learn nothing!</p>
		<hr class="my-4">
	  <p>So, here each student can contribute to a pile of questions</p>
		<hr class="my-4">
	  <p>On clicking your assigned assignments randomly 5 questions not made by that student are picked and assigned to him/her for this semester subject</p>
		<hr class="my-4">
	  <p>Since the number of questions are large so no more cheating</p>
		<hr class="my-4">
	  <p>Also student may ask the creator of the questions for their doubts, who himself is a student, so more learning and interactions among students</p>

	</div>
	<h1></h1>
{% endblock content %}